* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
	height: 100vh;
}
.dash-top,
.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
	background: rgba(76, 83, 76, 0.2);
}


.chart-1,
.chart-2,
.members-1,
.members-2 {
	background: rgba(76, 83, 76, 0.2);
}

.message,
.settings {
	background: rgba(76, 83, 76, 0.2);
}

.social-1,
.social-2,
.social-3 {
	background: rgba(32, 199, 32, 0.2);
}


header {
	background: #47eb6a;
}
nav {
	background: #616161;
}
main {
	background: rgb(163, 162, 162);
}

