body {
    font-family: 'Balsamiq Sans', cursive;
}

/* ======================= GRID STYLES ==================== */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    grid-template-areas: 
        "head"
        "pageNav"
        "mainContent";
}

header {
    grid-area: head;
 }

nav {
    grid-area: pageNav;
 }

main {
    grid-area: mainContent;
    display: grid;
    /* grid-gap: 2px; */
 }

.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
   display: grid;
   grid-gap: 2px;
}

.half-size-charts,
.member-info,
.message-and-settings {
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* ======================= HEADER STYLES ==================== */

.header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    color: white;
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 16px;
}

.header-container h1 span {
    font-weight: 700;
    text-decoration: underline;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-header {
    color: white;
    margin: 16px;
    font-size: .8rem;
}

.profile-img {
    width: 30px;
    border-radius: 50%;
}

.profile-container-bell {
    width: 25px;
    margin-right: 1rem;
    border-right: 1px solid white;
}

.profile-bell {
    vertical-align: middle;
}






























/* ======================= MEDIA QUERIES ==================== */

@media (min-width: 768px) {
    .grid-container {
        grid-template-rows: 70px 60px 1fr;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 60px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
        "head head"
        "pageNav mainContent";
    }

    .social-media-info {
        grid-template-columns: repeat(3, 1fr);
     }
}