body {
    font-family: 'Balsamiq Sans', cursive;
}

/* ======================= GRID STYLES ==================== */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    grid-template-areas: 
        "head"
        "pageNav"
        "mainContent";
}

header {
    grid-area: head;
 }

nav {
    grid-area: pageNav;
 }

main {
    grid-area: mainContent;
    display: grid;
    /* grid-gap: 2px; */
 }

.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
   display: grid;
   grid-gap: 2px;
}

.half-size-charts,
.member-info,
.message-and-settings {
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* ======================= HEADER STYLES ==================== */

.header-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    color: white;
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 16px;
}

.header-container h1 span {
    font-weight: 700;
    text-decoration: underline;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-header {
    color: white;
    margin: 16px;
    font-size: .8rem;
    display: none;
}

.profile-img {
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-container-bell {
    width: 25px;
    padding: 8px 20px 8px 0;
    margin-right: 1rem;
    border-right: 2px solid white;
    box-sizing: initial;
}

.profile-bell {
    vertical-align: middle;
    transition: .3s ease-out;
}

.profile-bell:hover {
    transform: scale(1.1) rotate(-10deg);
}

/* ======================= NAV STYLES ==================== */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    height: 35px;
    width: 35px;
    margin: auto 24px;
}

.nav-icon {
    height: 40px;
    width: 40px;
}

/* ======================= DASH / ALERT STYLES ==================== */

.dash-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-header {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 1.2px;
    font-size: 2rem;
}

.dash-header-search {
    background: rgb(172, 172, 172);
    text-align: center;
    width: 100%;
    padding: 24px 0;
    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
}

.dash-header-search input {
    background: rgb(245, 245, 245);
    width: 20rem;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b8b8b8;
    font-size: 1rem;
    outline: none;
    color: #b8b8b8;
}

.alert {
    color: white;
    background: #47eb6a;
    border-radius: 4px;
    padding: 10px 12px;
    margin: 16px auto;
    width: 95%;
    position: relative;
}

.alert p {
    font-size: .9rem;
}

.alert-close {
    font-size: 1.2rem;
    position: absolute;
    right: 2%;
    top: 25%;
}
























/* ======================= MEDIA QUERIES ==================== */

@media (min-width: 768px) {
    .grid-container {
        grid-template-rows: 70px 60px 1fr;
    }

    .dash-header-search input {
        width: 25rem;
    }

    .profile-header {
        display: inline;
        font-size: 1rem;
    }

    .profile-img {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 60px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
        "head head"
        "pageNav mainContent";
    }

    .social-media-info {
        grid-template-columns: repeat(3, 1fr);
     }

    .header-container h1 {
         font-size: 1.75rem;
     }

    .profile-header {
        font-size: 1rem;
    }

    .nav-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-item {
        margin: 24px auto;
        height: 30px;
        width: 30px;
    }

    .dash-top {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .dash-header {
        color: rgb(255, 255, 255);
        margin: 20px 16px;
        font-size: 1.3rem;
    }

    .dash-header-search input {
        width: 20rem;
    }

    .dash-header-search {
        border-left: 1px solid #2c2c2c;
        padding: 20px 0;
        text-align: end;
        padding-right: 16px;
        flex: 1;
        border-top: none
    }

    .alert span {
        display: inline-block;
    }

    .alert p {
        display: inline-block;
    }
}